.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  &.main {
    color: $accent-color;
  }
}

.logo.second {
  color: $second-logo-color;
}

.logo.white {
  color: $primary-white-color;
}
