.site-nav .link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  padding-top: 31px;
  padding-bottom: 31px;

  position: relative;

  color: $first-title-text-color;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-color;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -2px;

  border-radius: 2px;
  background-color: $accent-color;
}

.site-nav .link.current {
  color: $accent-color;
}
